* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
.container {
  width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 62px;
  background-color: red;
  z-index: 200;
  .content {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 30px;
    .contentItem {
      cursor: pointer;

      i {
        color: white;
        font-size: 16px;
        line-height: 30px;
      }
      p {
        color: white;
        font-size: 18px;
        font-weight: 500;
        line-height: 30px;
      }
    }
    .backItem {
      width: 30px;
      text-align: center;
      height: 30px;
      cursor: pointer;
      i {
        color: white;
        font-size: 16px;
        text-align: center;
        line-height: 30px;
      }
    }
    .inputItem {
      height: 29px;
      width: calc(100% - 100px);
      position: relative;
      input {
        height: 100%;
        width: 100%;
        outline: none;
        border: none;
        padding: 0 30px;
        border-radius: 20px;
        font-size: 16px;
      }
      i.myGlass {
        position: absolute;
        top: 6px;
        left: 10px;
        color: red;
        font-size: 16px;
      }
      i.myClose {
        position: absolute;
        top: 6px;
        right: 10px;
        color: silver;
        font-size: 16px;
      }
    }

    .cart {
      position: relative;
      cursor: pointer;

      i {
        color: white;
        font-size: 24px;
      }
      span {
        position: absolute;
        top: -10px;
        left: 10px;
        background-color: rgba(255, 255, 255, 0.8);
        color: red;
        display: block;
        width: 24px;
        height: 24px;
        text-align: center;
        line-height: 24px;
        border-radius: 50%;
        font-size: 12px;
        font-weight: 500;
      }
    }
  }
}

#main {
  background-color: whitesmoke;
  .content {
    padding: 92px 0 80px;
    width: 100%;
    min-height: 100vh;
  }
}

#footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: red;
  z-index: 200;
  .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 414px;
    margin: 0 auto;
    .footerItem {
      text-align: center;
      i {
        color: white;
        font-size: 14px;
      }
      p {
        color: white;
        font-size: 14px;
      }
    }
  }
}

#goiY {
  position: fixed;
  top: 62px;
  left: 0;
  width: 100%;
  background-color: white;
  padding: 10px 10px 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  p {
    color: red;
    font-size: 16px;
    font-weight: 400;
  }
  .content {
    display: flex;
    gap: 10px;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 10px;
    span {
      background-color: rgb(243, 243, 243);
      border-radius: 10px;
      padding: 5px 10px;
      font-size: 14px;
      font-weight: 300;
      cursor: pointer;
    }
  }
}

#gioHang {
  position: fixed;
  top: 0;
  right: -414px;
  width: 414px;
  z-index: 400;
  background-color: whitesmoke;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  transition: all 0.3s;
  &.show {
    right: 0;
  }
  .content {
    .title {
      padding: 0 20px;
      height: 62px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: white;
      border-bottom: 1px solid rgb(230, 230, 230);

      p {
        color: red;
        font-size: 16px;
      }
      button {
        padding: 10px 20px;
        border: none;
        background-color: red;
        color: white;
        font-size: 14px;
        font-weight: 500;
        border-radius: 10px;
        cursor: pointer;
        transition: all 0.3s;
        &:hover {
          background-color: rgb(234, 11, 11);
        }
      }
    }
    .main {
      height: calc(100vh - 112px);
    }
    .bottom {
      padding: 0 20px;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: white;
      border-bottom: 1px solid rgb(230, 230, 230);
      p {
        color: red;
        font-size: 18px;
      }
      button {
        padding: 10px 20px;
        border: none;
        background-color: red;
        color: white;
        font-size: 16px;
        font-weight: 500;
        border-radius: 10px;
        cursor: pointer;
        transition: all 0.3s;
        &:hover {
          background-color: rgb(234, 11, 11);
        }
      }
    }
  }
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 300;
}

@media screen and (max-width: 1200px) {
  .container {
    width: 100%;
  }
}
@media screen and (max-width: 992px) {
  .container {
    width: 100%;
  }
}
@media screen and (max-width: 765px) {
  .container {
    width: 100%;
  }
}
@media screen and (max-width: 576px) {
  .container {
    width: 100%;
  }
}
